;; shadow-cljs configuration
{:dev-http {8080 "public"}

 :source-paths
 ["src/engine/main"
  "src/engine/test"
  "src/ci/main"
  "src/ci/test"]

 :dependencies [[com.rpl/specter "1.1.2"]]

 :builds {:engine {:target :browser
                   :output-dir "public/js"
                   :asset-path "/js"
                   :modules {:engine {:entries [wish-engine.core
                                                wish-engine.core-test]}}}

          :ci-engine {:target :browser
                      :output-dir "target"
                      :asset-path "/"
                      :modules {:ci-engine {:entries [wish-test-helper.engine]}}}

          :ci-engine-karma {:target :karma
                            :ns-regexp "wish-test\\..*-test$"
                            :output-to "target/ci-engine-karma.js"}

          :ci {:target :karma
               :ns-regexp "wish-engine\\..*-test$"
               :output-to "target/ci.js"}}}
